*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    font-family: 'PT Sans', sans-serif;
}
:root{
    --mainColor:#7b5244;
    --subColor:#333333;
}
.container{
    width: 80%;
    margin: auto;
}
.list-unstyled{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Header */
header{
    padding: 30px 0;
}
header .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content img{
    flex: 1;
    max-width: 150px;
}
.header-content nav{
    padding: 0px 0px 0px 80px ;
    flex: 15;
    text-align: center ;
    justify-content: center;
}
.header-content .login{
    flex: auto;
    text-align: right;
}
.header-content ul li{
    display: inline-block;
}
.header-content ul li ,
.header-content ul li a{
    color: var(--subColor);
}
/* .header-content nav ul{
    display: flex ;
} */
.header-content nav ul li .link-item{
    padding: 10px 20px;
    display: block;
    font-weight: bold;
    position: relative;
}
.header-content nav ul li .link-item::before,
.header-content nav ul li .link-item::after{
    content: " ";
    position: absolute ;
    border-color: var(--mainColor);
    border-style: solid;
    top: 0;
    left: 0;
    transition: 0.3s transform;
    transform-origin: left;
}
.header-content nav ul li .link-item::before{
    border-width:0 2px ;
    width: 97%;
    height: 100%;
    transform: scale3d(1,0,1);
}
.header-content nav ul li .link-item:hover::before{
    transform: scale3d(1,1,1);
}
.header-content nav ul li .link-item::after{
    position: absolute ;
    border-width:2px 0 ;
    width: 99%;
    height: 91%;
    transform: scale3d(0,1,1);
}
.header-content nav ul li .link-item:hover::after{
    transform: scale3d(1,1,1);
    transition-delay: 0.1s;
}
.header-content .login ul li {
    padding: 10px 6px;
    font-weight: bold;
}
.header-content .login ul li:last-child i{
    position: relative;
}
.header-content .login ul li:last-child i::after{
    position: absolute;
    content: "0";
    background: var(--mainColor);
    color: white;
    bottom: -9px;
    right: -5px;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
}

        /* Slider */
section.slider img{
    width: 100% ;
}























